
<div id="getting-started">

<h2>Plat_Forms contest</h2>

<p>
"Plat_Forms" is a contest and competition in which top-class teams of three programmers compete to implement the same requirements for a web-based system within two days, using different technology platforms (e.g. Java, .NET, Perl, PHP, Python, Ruby, Scala, Smalltalk, JavaScript or what-have-you).
</p>

<p>
Its purpose is not to determine "the" best web development platform, but rather to provide new insights into the real (rather than purported) pros, cons, and emergent properties of each platform. The evaluation will analyze many aspects of each solution, both external (usability, functionality, reliability, security, performance, etc.) and internal (structure, modularity, understandability, flexibility, etc.).
</p>

<p><em>Details</em></p>

<p>
  <ul>
    <li>Date: 2011.01.18-19</li>
    <li>Place: Nuremberg, Germany</li>
  </ul>
</p>

<h3>What we do</h3>

<p>Some teams come from overseas and so they have high travel costs. As we want to
see three Perl teams at this contest, we decided to support the teams with 1000 USD in total.
</p>

<h3>Your sponsorship</h3>
<p>
  Your sponsorship is highly appreciated.
</p>
<p>
  What you get for your sponsorship is described in <a href="/sponsors/benefits">"Benefits for Sponsors"</a>.
</p>

<h3>Our budget</h3>

<table>
  <tr>
    <th>Item</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Support A.Uthor</td>
    <td>300 USD</td>
  </tr>
</table>

</div>
