<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><% template.title %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <meta http-equiv="Content-Language" content="en" />
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="Perl, training, consulting, business, community, promotion, advocacy" />
  <meta name="description" content="<% template.description %>" />
  <link href="/rss" rel="alternate" type="application/rss+xml" title ="Perl Ecosystem Group" />
</head>
<body>

<div id="page">
  <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3><% template.subtitle %></h3>
        <ul class="links">
          <li><a href="/what">What</a></li>
          <li><a href="/who">Who</a></li>
          <li><a href="/why">Why</a></li>
          <li><a href="/events">Events</a></li>
<!--          <li><a href="/earlier_events">Earlier Events</a></li> -->
          <li><a href="/news">News</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/membership">Membership</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li><a href="/benefits">Benefits</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </li>
    </ul>
  </div>

<div id="content">
  <div id="header">
    <h1><a id="toplink" href="/">Perl Ecosystem Group</a></h1>
    <h2>bridging the gap between business<br>and the open source Perl community</h2>
  </div>

<% content %>

</div> <!-- content -->

</div> <!-- page -->

<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12199211-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
