
<div id="getting-started">

<p>
E-mail:  team at perl-ecosystem.org
</p>
<p>
Office - <em>Germany</em><br />
  Renee Baecker +49-180-300-221-048-94<br />
  Frankfurt<br />
</p>
<p>
Office - <em>Israel</em><br />
  Gabor Szabo +972-54-4624648<br />
  Modiin<br />
</p>

</div>
