<% META title       = 'Earlier events' %>
<% META subtitle    = 'Earlier events' %>
<% META description = 'A list of events we participated at. Even before the Perl Ecosystem Group was setup' %>

<div id="getting-started">

<p>
List of events where we have already participated even before the formation of the Perl Ecosystem Group.
</p>

<div id="schedule">
<ul>
<% FOR e IN events %>
<li><ul><li><% e.date %></li><li><% e.title %>, <% e.address %></li></ul></li>
<% END %>
</ul>
</div>

</div>
