

<div id="getting-started">
<p>
More detailed information about the member will appear later.
<p>

<h2>Small Business Members</h2>
<p>
<h3><a href="http://bruck.co.il/">Uri Bruck</a></h3>
IT Consultant, Software Developer and Translator

<h3><a href="http://www.hogue.org/">Jonathan Hogue</a></h3>
Software Developer

<h3><a href="http://www.raz.co.il/">Raz Information Systems</a></h3>

</p>

</div>
