<% META title       = 'News' %>
<% META subtitle    = 'News' %>
<% META description = 'News about the Perl Ecosystem Group' %>

<div id="getting-started">

<p>
</p>

<div id="schedule">
<ul>
<% FOR n IN news %>
  <li>
    <ul>
     <li><% n.date %></li>
     <li><% n.text %></li>
    </ul>
   </li>
<% END %>

</ul>
</div>

</div>
