
<div id="getting-started">

<p>
</p>

<div id="schedule">
<ul>
  <li>
    <ul>
      <li>2010.10.20</li>
      <li>The web site of the Perl Ecosystem Group was opened to public. We started to contact companies to sponsor our activities.</li>
    </ul>
  </li>
</ul>
</div>

</div>