<% META title       = 'News' %>
<% META subtitle    = 'News' %>
<% META description = 'News about the Perl Ecosystem Group' %>

<div id="getting-started">

<p>
</p>

<div id="schedule">
<ul>
<% FOR n IN news %>
  <li>
    <ul>
     <li><% n.date %></li>
     <li><% n.text %></li>
    </ul>
   </li>
<% END %>

</ul>
</div>

<h2>Announcements</h2>
<p>
In addition toposting on this page we also distribute our announcements
via the PEG News <a href="/mailing_lists">mailing list</a>.
</p>

</div>
