
<div id="getting-started">

<h2>CeBit 2010</h2>

<p>
CeBit is the biggest IT fair world-wide.
</p>

<h3>What we did</h3>

<p>
  We organized a booth at the Open Source Lounge ...
</p>

<p>
  We'd like to thank our sponsors who made this possible:
</p>

  <ul>
    <li>Company X</li>
    <li>Company Y</li>
  </ul>
  
<p>
  We also like to thank our <a href="/members">members</a>.
</p>

<h3>Our budget</h3>

<table>
  <tr>
    <th>Item</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Roll-up banner</td>
    <td>300 USD</td>
  </tr>
  <tr>
    <td>brochures</td>
    <td>300 USD</td>
  </tr>
  <tr>
    <td>T-Shirts</td>
    <td>300 USD</td>
  </tr>
  <tr>
    <td>Live-DVDs</td>
    <td>300 USD</td>
  </tr>
</table>

</div>
